# App Config
API_URL=http://localhost:3000

# Supabase
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_API_PRODUCT_ID=
STRIPE_CREDS_ADDON_PRODUCT_ID=

# Unkey
UNKEY_ROOT_KEY=
UNKEY_API_ID=

LOOPS_API_KEY=
LOOPS_INVITE_TRANSACTION_ID=

POST_HOG_API_KEY=
POST_HOG_API_HOST=